/*.animate-slide {
  animation: 0.5s slideInLeft;
}

.animate-slide.ng-hide {
  animation: 0.5s slideOutLeft;
}
*/

.jumbotron {
  padding:100px 0 130px 0;
}

.navbar-right {
    margin-right: 0;
}

.btn-toolbar {
  display: inline-block;
}​

a {
    cursor: pointer;
}

.navbar {
  margin:0;
}

.dropdown-form {
  padding: 17px;
  width: 300px;
}
.bg-gray {
  background-color:#404242;
  background-image:none;

}
.bold {
  font-weight:bold;
}

.btn{
  border:none;
}

.btn-primary{
  background-color:#329932;
}
.btn-info{
  border: solid;
  color: #000;
  border-width:thin;
  border-color:#c5c5c5;
  background-image:none;
  background-color:#fff;
}
.btn-info:active,.btn-info:focus,
.btn-info:active:focus,
.btn-info:hover{
  background-color:#c5c5c5;
  background-image: none;
  border-color:#c5c5c5;

}
.btn-primary:active, .primary:focus,
.btn-primary:active:focus,.btn-primary:hover{
  background-color: #198c19;
  background-image:none;
  border:none;
  cursor:pointer;
}

.form-control{
  height:48px;
  font-size:17px;
}
.records-table th {
  cursor: pointer;
}
.sortorder:after {
  content: "\f107";
  font-family: FontAwesome;
}
.sortorder.reverse:after {
  content: "\f106";
  font-family: FontAwesome;
}
.records-table th:hover .sortorderoff:after {
  content: "\f107";
  font-family: FontAwesome;
  opacity: 0.5;
  position: absolute;
  margin-left: 5px;
}
