html
  body
    .container
      .row
        .col-sm-9
          .page-header
            h3.bold Victim Information
            h2 {{post.name}}
            p
              span(class="label label-default", ng-if="post.optin") OPT-IN
              span.pas(class="label label-default", ng-if="!post.optin") OPT-OUT
            p(ng-if="post.optin") {{post.email}}
            p {{post.lastNotifiedAt}}
            
          form
            .form-group
              label.h4(for='title') Detective
              input.form-control(type='text', ng-model='post.detective')
            .form-group
              label.h4(for='title') Suspect Type
              select(class="form-control", ng-model='post.suspectType')
                option(value="known") Known
                option(value="unknown") Unknown
                option(value="stranger") Stranger
                option(value="unknownAcquaintance") Unknown Acquaintance
            .form-group
              label.h4(for='title') Case Number
              input.form-control(type='text', ng-model='post.caseNumber')
            .form-group
              label.h4(for='') Have you sent this sexual assault kit for processing?
              .radio
                label
                  input(type='radio', ng-model='post.processed', ng-value='true')
                  |  Yes
              .radio
                label
                  input(type='radio', ng-model='post.processed', ng-value='false')
                  |  No
            .form-group(ng-show="post.processed == false")
              label(for='') Why not?
              textarea.form-control(ng-model='post.whyNotProcessed')
            .form-group(ng-show="post.processed == true")
              label(for='') Expected return date
              input.form-control(type='date', ng-model='post.expectedDate', value="{{ post.expectedDate | date: 'yyyy-MM-dd' }}" )
            p(ng-show='showSuccess') Case information has been updated.
        .col-sm-3
          h4.mtxl Nurse Notes
          p {{post.nurseNotes}}
          p(ng-if="post.nurseNotes == null")
            | No notes were entered by Nurse for this record.
          h4.mtl First Responder Notes
          textarea(class="form-control", rows="3", ng-model="post.policeNotes")
          h4.mtl Investigator Notes
          textarea(class="form-control", rows="3", ng-model="post.myNotes")
          h4.mtxl Attachments
          a(href="{{post.dropboxLink}}") Download Nurses Attachments
          .form-group.pvm
            label(for='') Upload more attachments to Dropbox and paste the link here
            .pvm(ng-repeat="link in post.policeDropboxLinks")
              a(href="{{link}}") {{link}}
            input.form-control(type='text', ng-model='post.newDropboxLink', placeholder="http://dropbox.com/...")

      .row
        .col-sm-12(class="text-center")
          button.btn.btn-lg.btn-primary.mvxl.bg-gray(ng-click='editPost()') Complete
