<div class="container">
  <div class="row">
    <div class="col-sm-3"><br/>
      <h4>{{user.first}} {{user.last}}</h4>
    </div>
    <div class="col-sm-9">
      <div class="page-header">
        <h4>Add a New Case</h4>
      </div>
      <form>
        <div class="form-group">
          <label for="title">Name</label>
          <input class="form-control" type="text" ng-model="post.name">
        </div>
        <div class="form-group">
          <label for="email">Email</label>
          <input class="form-control" type="text" ng-model="post.email">
        </div>
        <div class="form-group">
          <label for="optin">Opt-in</label>
          <input class="form-control" type="checkbox" ng-model="post.optin">
        </div>
        <div class="form-group">
          <label for="notes">Notes</label>
          <textarea class="form-control" ng-model="post.notes"></textarea>
        </div>
        <button ng-click="showForm=false" ng-show="showForm">Review</button>
        <!-- <div ng-hide="showForm">
          <h3>Name: {{post.name}}</h3>
          <p>Email: {{post.email}}</p>
          <p>Opt-in: {{post.optin}}</p>
          <p>Notes: {{post.notes}}</p>
        </div> -->
        <button ng-click="editPost()">Save</button>
        <p ng-show="showSuccess">This case has been sent to the investigator.</p>
        <button ng-show="showSuccess" ng-click="anotherCase()">Add another case</button>
      </form>
      
    </div>
  </div>
</div>