html
  body
    .form-inline
      .form-group
        label(for="searchBox") Search
        input.form-control#searchBox(ng-model="searchText")
    table.table
      tr
        th.h4.bold
          | Name
        th.h4.bold
          | Email
        th.h4.bold
          | Opt-In
        th.h4.bold
          | Justification
      tr(ng-repeat='(index, post) in posts | filter:searchText')
        td
          a.h3(ng-href='/records/{{post._id}}/edit') {{post.name}}
        td {{post.email}}
        td {{post.optin}}
        td {{post.notes}}
