html
  body
    .form-inline.mhxl.mvm
      .form-group
        label(for="searchBox")
        input.form-control#searchBox(ng-model="searchText",placeholder="Search Name or Case #")
    table.table
      tr
        th.h4.bold
          .plxl Name
        th.h4.bold
          | Email
          span.sortorder(ng-show="predicate === 'email'" ng-class="{reverse:reverse}")
        th.h4.bold(ng-click="order('optin')")
          | Opt-In
          span.sortorder(ng-show="predicate === 'optin'" ng-class="{reverse:reverse}")
        th.h4.bold(ng-click="order('notes')")
          | Justification
          span.sortorder(ng-show="predicate === 'notes'" ng-class="{reverse:reverse}")
        th.h4.bold(ng-click="order('detective')")
          | Detective
          span.sortorder(ng-show="predicate === 'detective'" ng-class="{reverse:reverse}")
      tr(ng-repeat='(index, post) in posts | filter:searchText | orderBy:predicate:reverse')
        td
          a.h4.plxl(ng-href='/records/{{post._id}}/edit') {{post.name}}
        td {{post.email}}
        td {{post.optin}}
        td {{post.notes}}
        td {{post.detective}}
