html
  body
    .jumbotron
      .container.text-center
        h1.bold Vivifi
          .lead.mbxl Smarter Sexual Assault Case Management
        .btn-toolbar(ng-show='currentUser')
          a.btn.btn-primary.btn-lg.phl.mhm.bg-gray(href='/create') + Create New Record
        .btn-toolbar(ng-show='currentUser && currentUser.admin')
          a.btn.btn-primary.btn-lg.phl.bg-gray(href='/records') View All Records
    .container
      .row
        .col-sm-4
          h3 Improve Data Quality
        .col-sm-4
          h3 Efficient Victim Communication
        .col-sm-4
          h3 Accelerate Case Management
